{
  "plugins": ["prettier"],
  "extends": [
    "react-app",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "prettier/prettier": "error",
    "react/jsx-boolean-value": 0
  }
}
