.Profile-information-item {
  background-color: white;
  padding: 1em;
  border-bottom: 2px solid #fafafa;
}

.Profile-information-item-title {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.Profile-information-item-content {
  display: flex;
  align-items: center;
}
